<div class="page-layout full-height well">


    <div class="header">
        <ul class="breadcrumb">
            <li class="nav-to-applications"><a href="#"><i class="fa fa-home"></i></a></li>
            <li class="active">{{displayName}}</li>
        </ul>
    </div>

    <div class="panel">
        <div class="panel-body">
            <div class="content">
                <div class="tab-container"></div>
                <div class="tab-content-container"></div>
            </div>
        </div>
    </div>

</div>